.sidebar {
    background-color: rgb(14, 15, 14);
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 73px;
    top: 55px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgba(39,39,39,255);
    border-radius: 10px;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 5px;

}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;

}