.thumb {
    border-radius: 10px;
    width: 100%;
    display: block;
    margin-bottom: 12px;

}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;

}

.video-title {
    margin-bottom: 12px;
    color: white;
    font-size: 15px;
    font-weight: 500;

}

.channelname,
.video-stats {
    margin-bottom: 0px;
    font-size: 14px;
    color: rgb(170, 170, 170);
}

.channelname {
    margin-bottom: 4px;
}

.video-card {
    width: 100%;
    display: inline-block;
    margin-right: 15px;
}

.logo-pic {

    width: 38px;
    border-radius: 50px;
}

.thumb-row {
    margin-bottom: 8px;
    position: relative;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 16px;
    row-gap: 40px;

}

@media (max-width: 1800px) {
    .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

.video-time {
    background-color: rgba(0, 0, 0, 0.623);
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;


}

.video-live {
    background-color: rgba(204, 0, 0, 0.9);
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;


}